.content_department table{
    border-collapse: collapse;
    width: 62.5%;
    margin-top: 50px;
    margin-left: 0px;
  }
  
  .content_department table td:last-child {
    border-right: none;
    border-top: none;
    border-bottom: none;
    background-color:  rgb(219, 219, 219);
  }

  .content_user table td:last-child {
    border-right: none;
    border-top: none;
    border-bottom: none;
    background-color:  rgb(219, 219, 219);
  }
  
  .content_department td button[name='del_dp'] {
    background-color: #c20000;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .content_department h3{
    font-size: 40px;
  }

  td{
    background-color: white;
  }


  
  .content_department a{
    background-color: #008CBA;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 1px;
    cursor: pointer;
  }
  
  .content_user h3{
    padding-top: 10px;
    margin-bottom: -4px;
    font-size: 40px;
  }
  
  .content_user td button[name='update_user'] {
    background-color: #ffae00;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .content_user table td.update_no_borders {
    border-right: none;
    border-top: none;
    border-bottom: none;
  }
  
  .content_user table{
    border-collapse: collapse;
    width: 80%;
    margin-top: 50px;
    margin-left: 0px;
  }
  
  .content_user td button[name='del_user'] {
    background-color: #c20000;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }