body{
    background-color: darkred;
}

.box{
    background-color: #dbdbdb;
    box-shadow: 0px 18px 18px rgba(0,0,0,0.25);
    max-width: 500px;
    width:100%;
    margin : 4em auto;
    padding : 30px;
    border-radius: 10px;
}


h1{
    margin-bottom:25px;
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
label {
    text-align: right;
    padding-right: 10px;
}
  
form input {
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.box div{
    display: grid;
    grid-template-columns: minmax(100px, max-content) 1fr;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
    
}
#password {
    border-radius: 5px;
    background-color: rgba(196,196,196,0.7);
    border:solid 1px #ccc;
}

#email  {

    border-radius: 5px;
    background-color: rgba(196,196,196,0.7);
    border:solid 1px #ccc;
   
}

#name  {

    border-radius: 5px;
    background-color: rgba(196,196,196,0.7);
    border:solid 1px #ccc;
   
}

#username  {
    border-radius: 5px;
    background-color: rgba(196,196,196,0.7);
    border:solid 1px #ccc;
}

#r_password  {
    border-radius: 5px;
    background-color: rgba(196,196,196,0.7);
    border:solid 1px #ccc;
   
}

form div{
    margin-left: 0px;
}

button {
    margin-top: 10px;
    border-radius: 10px;
    border:solid 2px black;   
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    width:100px;
    height:30px;
}

.ref {
    margin-left: 225px;
    margin-top: 15px;
}

p {
    text-align: center;
    justify-content: center;
}
