/* Style for the body */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

/* Style for the buttons */
/*
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
*/
.buttons .admin_page{
  border-bottom: solid 2px black;
}

.buttons .logout{
  border-bottom: solid 2px black;
}

.buttons li, .buttons button{
  background-color: #0245c4;
  text-decoration: none;
  color: white;
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 10em;
  border-top: solid 2px black;
  border-right: solid 2px black;
}

.buttons{
  margin-top: 0%;
}

.buttons button {
  width: 12.61em;
}

.buttons li:hover {
  background-color: #007ee6;
}

.buttons button:hover {
  background-color: #007ee6; 
}

/* Style for the links */
.buttons button a {
  color: white;
  text-decoration: none;
}

.buttons a{
  color: white;
  text-decoration: none;
}

/* Style for the table */
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 50px;
}

th, td {
  text-align: left;
  padding: 8px;
  border-bottom: solid 3px black;
  border: solid 3px black;
}
  
th {
  background-color: #4CAF50;
  color: white;
}
  
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Style for the headings */
h1, h2 {
  text-align: center;
  margin-top: 50px;
}

/* Style for the welcome message */
h1 {
  font-size: 36px;
  font-weight: bold;
}

/* Style for the role message */
h2 {
  font-size: 24px;
}

/* Style for the logout button */
.logout {
  position: fixed;
  bottom: 0;
}

.container_master{
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
  margin-top: 0;
}

/* Style for the container */
.container {
  display: flex;
  justify-content: space-between;
  margin-left: -5.5%;
  background-color: #9fa59f;
  height: 100%;
  position: fixed;
  bottom: 0;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.25), -5px 0 5px rgba(0, 0, 0, 0.25);
  
}

/* Style for the buttons */
.buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* add this line to align items to the left */
}

/* Style for the content */
.content {
  flex: 1;
  margin-left: 190px; /* add this line to add some space between the buttons and content */
  width: 50em;
}


/*
.content form h1 {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.content form p {
  margin-top: 0;
}
*/

