/* Style for the body */
body {
  font-family: Arial, sans-serif;
  background-color: rgb(219, 219, 219);
  width: 75%;
  margin: auto;
  border-left: 5px solid;
  border-right: 5px solid;
  min-height: 100vh;
  padding-bottom: 1em;
}

html{
  background-color: darkred;
}

.container{
  margin: auto;
}

ul{
  margin-left: -40px;
  margin-top: auto;
  margin-right: auto;
}

.buttons li, .buttons button{
  background-color: #0245c4;
  text-decoration: none;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border:solid 2px black;
  width: 100%;
  height: 50px;
}

.buttons button:hover {
  background-color: #007ee6; 
}

/* Style for the links */
.buttons button a {
  color: white;
  text-decoration: none;
}

.buttons a{
  color: white;
  text-decoration: none;
}

/* Style for the table */
table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  text-align: left;
  padding: 8px;
  border-bottom: solid 3px black;
  border: solid 3px black;
  background-color: white;
}
  
th {
  background-color: darkred;
  color: white;
}

/* Style for the headings */
h1, h2 {
  text-align: center;
  margin-top: 50px;
}

/* Style for the welcome message */
h1 {
  font-size: 36px;
  font-weight: bold;
}

/* Style for the role message */
h2 {
  font-size: 24px;
}

/* Style for the container */
.container {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25),0 0 5px rgba(0, 0, 0, 0.25);
}

/* Style for the buttons */
.buttons {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

/* Style for the content */
.content {
  margin: auto; /* add this line to add some space between the buttons and content */
  overflow: auto;
  padding-left: 1em;
  padding-right: 1em;
}

table button{
  background: none;
  border: none;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
  text-decoration: underline;
}
