p {
	margin: 0;
	font-size: 24px;
	margin-bottom: -10px;
}

h6 {
    font-size: 12px;
	margin-bottom: -10px;
}

.otherUserMsg em{
	font-size: 17px;
}

.otherUserMsg p{
	margin-top: 10px;
	font-family: serif;
}

.userMsg p{
	font-family: serif;
}

.chat {
	display: flex;
	flex-direction: column;
	padding: 20px;
	background-color: #dcdcdc;
}

.userMsg {
	align-self: flex-end;
    background-color: rgb(6, 187, 247);
    border-radius: 5px;
    padding: 15px;
	max-width: 500px;
	min-width: 200px;
	word-wrap: break-word;
}

.otherUserMsg {
	align-self: flex-start;
    background-color: rgb(145, 145, 145);
    border-radius: 5px;
    padding: 15px;
	max-width: 500px;
	min-width: 200px;
	word-wrap: break-word;
}

form {
	display: flex;
}

.chat input {
	flex: 1;
	border-radius: 5px;
	border: none;
	padding: 10px;
	font-size: 16px;
}

.chat button {
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px;
	font-size: 16px;
	cursor: pointer;
}

hr {
	border: none;
	border-top: 1px solid #bbbbbb;
	margin: 20px 0;
	margin-bottom: 40px;
}

.box{
	background-color: #22c402ce;
  	padding: 20px;
  	margin-bottom: 20px;
	border-radius: 10px;
  	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.box h3{
	font-size: 20px;
}

.box p{
	font-size: 17px;
}

h3{
	font-size: 25px;
	font-family: sans-serif;
}
/*
.parent{
	width: 1150px;
	display: flex;
  	justify-content: space-between;
}
*/
.info {
	flex: 1;
}

.group{
	display: flex;
}
  
.right-group {
	float: center;
	margin-bottom: 10px;
	align-items: left;
}

.remove_agent{
	flex: 0;
}

.description{
	align-items: left;
	margin-bottom: 15px;
}

tr{
	background-color: #f2f2f2;
}

/*.info{
	width: 350px;
	float: left;
}
*/


.tagsList form{
	margin-right: 5px;
	display: inline-block;
}

.tagsList button{
	background-color: #008CBA;
	border: none;
	border-radius: 4px;
	color: white;
	padding: 3px 6px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 1px 0.5px;
	cursor: pointer;
	margin-left: 5px;
}

.options{
	flex: 0;
  	align-self: flex-start;
  	margin-bottom: 10px;
	margin-right: 600px;
}

.remove_agent{
  background-color: #c20000;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  cursor: pointer;
}

.change_department{
	background-color: #008CBA;
	border: none;
	border-radius: 4px;
	color: white;
	padding: 3px 6px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 1px 0.5px;
	cursor: pointer;
	margin-left: 5px;
}

.change_status{
	background-color: #008CBA;
	border: none;
	border-radius: 4px;
	color: white;
	padding: 3px 6px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 1px 0.5px;
	cursor: pointer;
	margin-left: 5px;
}

select{
	margin-left: 5px;
}

.changes button{
	background-color: rgb(255, 136, 0);
	border: none;
	border-radius: 4px;
	color: black;
	padding: 4px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 2px 1px;
	cursor: pointer;
}

.addTag{
	background-color: #008CBA;
	border: none;
	border-radius: 4px;
	color: white;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 5px 0.5px;
	cursor: pointer;
}