.create_ticket a{
  text-decoration: none;
  color: white;
}

.create_ticket{
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 0.25px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13.5px;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 10px;
}

.search_wrapper{
  margin-top: 10px;
  margin-left: 10px;
}

.button button{
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 0.25px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13.5px;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 10px;
}

.filters{
  margin-bottom: 20px;
  margin-left: 10px;
}

img{
  width: 50px;
  height: 30px;
}

table tr td button {
  background: none;
  border: none;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
  text-decoration: underline;
}

table{
  margin-left: 10px;
  width: 98%;
}

h2{
  font-size: 30px;
  text-align: left;
  margin-left: 10px;
}