.search_wrapper {
  background-color: #afafaf;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
  
.search_wrapper label {
  font-weight: bold;
  font-size: larger;
}

table tr td button {
  background: none;
  border: none;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
  text-decoration: underline;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 100%;
}

#show-more-user{
  margin-top: 10px;
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 0.25px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13.5px;
  cursor: pointer;
  border-radius: 4px;
}



